[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "cub"]
	path = cub
	url = https://github.com/NVlabs/cub.git
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git
[submodule "ctpl"]
	path = ctpl
	url = https://github.com/vit-vit/CTPL.git
[submodule "gossip"]
	path = gossip
	url = https://github.com/Funatiq/gossip
[submodule "submodules/cuml"]
	path = submodules/cuml
	url = https://github.com/rapidsai/cuml.git
[submodule "submodules/cutlass"]
	path = submodules/cutlass
	url = https://github.com/NVIDIA/cutlass.git
