[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "third_party/json"]
	path = third_party/json
	url = https://github.com/nlohmann/json.git
[submodule "third_party/cuml"]
	path = third_party/cuml
	url = https://github.com/rapidsai/cuml.git
[submodule "third_party/cutlass"]
	path = third_party/cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "third_party/cpptqdm"]
	path = third_party/cpptqdm
	url = https://github.com/aminnj/cpptqdm.git
[submodule "third_party/parallel-hashmap"]
	path = third_party/parallel-hashmap
	url = https://github.com/greg7mdp/parallel-hashmap.git
[submodule "third_party/argparse"]
	path = third_party/argparse
	url = https://github.com/p-ranav/argparse.git
	branch = v2.5
[submodule "third_party/hiredis"]
	path = third_party/hiredis
	url = https://github.com/redis/hiredis.git
[submodule "third_party/redis_pp"]
	path = third_party/redis_pp
	url = https://github.com/sewenew/redis-plus-plus.git
[submodule "third_party/rocksdb"]
	path = third_party/rocksdb
	url = https://github.com/facebook/rocksdb.git
[submodule "third_party/librdkafka"]
	path = third_party/librdkafka
	url = https://github.com/edenhill/librdkafka.git
[submodule "third_party/protobuf"]
	path = third_party/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "third_party/hadoop"]
	path = third_party/hadoop
	url = https://github.com/apache/hadoop.git
