build
debug_build
release_build
docs/html
docs/latex
.cache
.vscode
*.o
*.so
*~
*.model
*.swp
*.tmp
*.tar.gz
*.out
.env
HugeCTR/include/config.hpp
tools/criteo_script/*.out
tools/criteo_script/test
tools/criteo_script/train
tools/criteo_script/val
tools/criteo_script/valtest
tools/criteo_script/*.gz
tools/embedding_plugin/performance_profile/*.tfrecord
tools/embedding_plugin/performance_profile/train
tools/embedding_plugin/performance_profile/test
tools/embedding_plugin/performance_profile/val
tools/embedding_plugin/performance_profile/valtest
tools/embedding_plugin/performance_profile/*.txt
__pycache__/
*.ipynb_checkpoints
*log
samples/*data
samples/din/din_data
test/utest/layers/keras_GRU.py
