[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "cub"]
	path = cub
	url = https://github.com/NVlabs/cub.git
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git
[submodule "ctpl"]
	path = ctpl
	url = https://github.com/vit-vit/CTPL.git
[submodule "HugeCTR/include/faster_gossip_comm/FasterGossipComm/gossip"]
	path = HugeCTR/include/faster_gossip_comm/FasterGossipComm/gossip
	url = https://github.com/Funatiq/gossip
