# packages necessary to run tests and push PRs
# assumes requirements for nvtabular logic are already installed

wheel

# docs
jinja2<3.1
markupsafe==2.0.1
sphinx-multiversion@git+https://github.com/mikemckiernan/sphinx-multiversion.git@v0.3.0
sphinxcontrib-copydirs@git+https://github.com/mikemckiernan/sphinxcontrib-copydirs.git@v0.3.4
sphinx-external-toc<0.4
sphinx_rtd_theme
natsort==8.1.0
myst-nb
nbclient<0.6
markdown-it-py
linkify-it-py

