name: docs-sched-rebuild

on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: nvcr.io/nvidia/merlin/merlin-tensorflow:nightly

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
          fetch-depth: 0
      - name: Set ownership
        run: |
          chown -R $(id -u):$(id -g) $PWD
      - name: Install packages
        run: |
          apt-get update -y
          apt-get install -y doxygen
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools==59.4.0 wheel
          python -m pip install -r docs/requirements-doc.txt
          python -m pip install scikit-build ninja
#      - name: Build HPS plugin for TF
#        run: |
#          pushd hierarchical_parameter_server
#          python3 setup.py install
#          popd
      - name: Report the versions to build
        run: |
          sphinx-multiversion --dump-metadata docs/source docs/build/html | jq "keys"
      - name: Building docs (multiversion)
        run: |
          sphinx-multiversion docs/source docs/build/html
      - name: Upload HTML
        uses: actions/upload-artifact@v2
        with:
          name: html-build-artifact
          path: docs/build/html
          if-no-files-found: error
          retention-days: 1

  # Identify the dir for the HTML.
  store-html:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: "gh-pages"
      - name: Initialize Git configuration
        run: |
          git config user.name docs-sched-rebuild
          git config user.email do-not-send-@github.com
      - name: Download artifacts
        uses: actions/download-artifact@v2
        with:
          name: html-build-artifact
      - name: Copy HTML directories
        run: |
          ls -asl
          for i in `ls -d *`
          do
            echo "Git adding ${i}"
            git add "${i}"
          done
      - name: Commit changes to the GitHub Pages branch
        run: |
          git status
          if git commit -m 'Pushing changes to GitHub Pages.'; then
            git push -f
          else
           echo "Nothing changed."
          fi
