name: docs-build

on:
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: nvcr.io/nvidia/merlin/merlin-tensorflow:nightly

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
          fetch-depth: 1
      - name: Set ownership
        run: |
          chown -R $(id -u):$(id -g) $PWD
      - name: Install packages
        run: |
          apt-get update -y
          apt-get install -y doxygen
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools==59.4.0 wheel
          python -m pip install -r docs/requirements-doc.txt
          python -m pip install scikit-build ninja
      - name: Building docs
        run: |
          make -C docs html
      - name: Upload HTML
        uses: actions/upload-artifact@v3
        with:
          name: html-build-artifact
          path: docs/build/html
          if-no-files-found: error
          retention-days: 1
      - name: Store PR information
        run: |
          mkdir ./pr
          echo ${{ github.event.number }}              > ./pr/pr.txt
          echo ${{ github.event.pull_request.merged }} > ./pr/merged.txt
          echo ${{ github.event.action }}              > ./pr/action.txt
      - name: Upload PR information
        uses: actions/upload-artifact@v3
        with:
          name: pr
          path: pr/
